* {
    box-sizing: border-box;
}
    /* justify x axle */
    /* align y axle */ 

.header-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.modal{
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #85abd3;
    height: 100px;
    width: 300px;
    transition: 0.2s;
    opacity: 0;
    
}

.type-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: '. . .'
    'search last-search new-book'
    '. . .';
}

.search{
    grid-area: search;
    justify-self: center;
    align-self: center;
    
}

.last-search{
    grid-area: last-search;
    font-size: 20px;
    
    
}

.new-book{
    grid-area: new-book;
    justify-self: center;
    align-self: center;
}

.page-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-areas: '. . .'
    'search last-search new-book'
    '. . .'; */

    
}

.pre{
   width: 5vw; 
   margin-left: 20px;
}
.next{
    justify-self: end;
    width: 5vw; 
    margin-right: 30px;    
}

    .table-container{
        height: 65vh;
        overflow: scroll;
    }

    table{
        text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 40px auto; 
    width: 95vw;
    /* height: 60vh; */
    overflow: auto;
    }
    
    .title{
        font-size: 20px;
        width: 30%
    }
    
    .price{
        font-size: 20px;
        width: 15%
        
    }
    
    .actions{
        font-size: 20px;
        width: 50%;
        /* display: flexbox; */
    }
    
    .actions-section{
        display: flex;
        gap: 10px;
        
    }

    td  {
        font-family: monospace;
        /* font-size: 30px; */
        /* width: 50px;
        height: 50px; */
        height: 40px;
        text-align: center;
        border: 0.5px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        transition: 400ms;
    }
    
    .table tr:nth-child(odd) {
        background-color: lightgray;
    }
    
    .btn {
        border-radius: 10%;
        cursor: pointer;
        border: 2px solid rgb(0, 174, 180);
        
    }
    
    .read-container{
        
        flex-grow: 1;
    }
    
    .read{
        background-color: #3f3f3f;
        color: aliceblue;
        flex-grow: 1;
        height: 30px;
        width: 80px;
        
    }
    
    
    .was-read{
        color: #00A170;
    }
    
    .update-container{
        
        flex-grow: 1;
    }
    
    .update{
        background-color: #F5DF4D;
        flex-grow: 1;
        height: 30px;
        width: 80px;
        
    }
    .delete-container{
        
        flex-grow: 1;
    }
    
    .delete{
        background-color: #FF6F61;
        flex-grow: 1;
        height: 30px;
        width: 80px;
    }

    .details-container{
        
        flex-grow: 1;
    }
    
    .details {
        background-color: #85abd3;
        height: 30px;
        width: 80px;
    }
    
    .rater-container{
        flex-grow: 1;
    }

    .book-price{
        font-size: 20px;
    }

    .book-name{
        font-size: 20px;
    }

    .msg-box{
        text-align: center;
        background-color: aliceblue;
        border: 1px solid rgb(66, 94, 101);
        transition: 0.3s;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .hidden{
        /* display: none; */
        opacity: 0;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: rgb(0, 0, 0);
        /* text-align: center; */
        display: flex;
        background-color: rgb(216, 237, 255);
    }

    footer > span{
        font-size: 20px;
        flex-grow: 1;
        padding: 5px;
    }

    .no-books-msg{
        font-size: 20px;
        /* height: 300px; */
        height: 50vh;
        background-color: rgb(230, 254, 255);
    }

    .rating{
        font-size: 20px;
    }